// -- Variables
// Banner
$site-banner-image-url: '/img/banner.jpg';
$site-banner-height: 30vh;
$site-banner-opacity-strength: 0.6;
$site-banner-opacity-color: black;
$title-banner-text-vertical-align: middle;
$title-banner-text-horizontal-align: center;
$title-banner-text-color: white;

// Container
$container-background-color: white;

// -- Load scss
@import 'component/banner.scss';
@import 'component/container.scss';