.site-banner {
  background-image: url($site-banner-image-url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: $site-banner-height;
  display: table;
}

.site-banner .opacity {
  background-color: $site-banner-opacity-color;
  opacity: $site-banner-opacity-strength;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: $title-banner-text-vertical-align;
}

.site-banner .title {
  text-align: $title-banner-text-horizontal-align;
  color: $title-banner-text-color;
}